<div class="header">
    <div class="header-left" routerLink="/">
        <img src="../../../assets/logo-gl.png" alt="logo"/>
    </div>
    <div class="header-right">
        <div class="common-btn"  routerLink="services">Services</div>
        <div class="common-btn" routerLink="services">Near</div>
        <div class="common-btn" routerLink="about-us">About Us</div>
        <div class="common-btn" routerLink="find-charger"> <mat-icon> location_on</mat-icon>Find charger</div>
    </div>
</div>